app-third {

    .card-header{
        // background-color: map-get($colors, primary, base);
        color: #fff;
    }
    .card-content {
        padding: 0px 16px; 
        max-height: 0px;
    }
}