<ion-header>
  <ion-toolbar>
    <ion-title>
      Log In
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list no-lines>
    
    <form [formGroup]="logInForm">
    <ion-item>
       <ion-input round type="text" formControlName="username" minlength = "4" placeholder="Username" name="username"></ion-input>
       <div style="color: red; padding-top: 0.2rem" *ngIf="logInForm.get('username').invalid && logInForm.get('username').dirty || logInForm.get('username').touched">
        <div *ngIf="logInForm.get('username').errors?.required">
          Username is Required
        </div>
        <div *ngIf="logInForm.get('username').errors?.minlength">
            Minimum length is 4
        </div>
        
      </div>
      </ion-item> 

    <ion-item>
      <ion-input round type="password" formControlName="password" minlength= "8" pattern= '^[a-zA-z0-9]+$' placeholder="Password" name="password" ></ion-input>
      <div *ngIf="logInForm.get('password').invalid && (logInForm.get('password').dirty ||
      logInForm.get('password').touched)">
                  <div *ngIf="logInForm.get('password').errors.required">
                    Password is required
                  </div>
                  <div *ngIf="logInForm.get('password').errors.minlength">
                    Min length is 8
                  </div>
                  <div *ngIf="logInForm.get('password').errors.pattern">
                      Password Must contains the one number, one lowercase and one uppercase letter
                  </div>
                </div> 
      </ion-item>
<ion-row> 
  <ion-col size="6">  
   <button ion-button round block (click)="signIn()" [disabled]="!logInForm.valid">Sign In</button>
  </ion-col>
  <ion-col size="6">  
      <button ion-button round block  (click)="forgetPass()">Forget Password?</button>
     </ion-col>
  </ion-row>
 
</form>
    <br>
    <button ion-button round block (click)="signUp()">Register</button>
  </ion-list>
</ion-content>
